.root {
  @apply cursor-pointer inline-flex px-10 rounded-sm leading-6  transition ease-in-out duration-150 font-semibold text-center justify-center uppercase py-4 border border-transparent items-center;
}

.root:hover {
  @apply text-primary border border-secondary;
}

.root:focus {
  @apply shadow-outline outline-none;
}

.loading {
  @apply cursor-not-allowed;
}

.slim {
  @apply py-2 transform-none normal-case;
}

.disabled,
.disabled:hover {
  @apply text-accents-4 border-accents-2 bg-accents-1 cursor-not-allowed;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
